header
{
    text-align:center;
    background-color: purple;
    color:white;
}
main
{
    height:300px;
}
footer
{
    text-align: center;
    background-color:purple;
    color:white;
}
.flex
{
    display:flex;
    justify-content:center;
    align-items: center;
}
